## Preprocessing

In [155]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [156]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df2 = application_df.drop(["EIN", "NAME"],1)
application_df2.head()

<ipython-input-156-a83e6684fd32>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df2 = application_df.drop(["EIN", "NAME"],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [157]:
# Determine the number of unique values in each column.
unique_val = application_df2.nunique()
unique_val

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [158]:
# Look at APPLICATION_TYPE value counts for binning - the process of reducing the number of unique categorical values in a dataset and making them numeric.
v_count = application_df2['APPLICATION_TYPE'].value_counts()
v_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [159]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(v_count[v_count < 1000].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df2['APPLICATION_TYPE'] = application_df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df2['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [160]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df2['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [161]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [162]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [163]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df2)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [164]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

In [165]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [166]:
X_train_scaled.shape

(25724, 41)

## Compile, Train and Evaluate the Model

In [169]:
from keras.callbacks import Callback

# Custom callback to save model weights every five epochs
class SaveModelWeights(Callback):
    def __init__(self, save_interval=5, filepath='model_weights.h5'):
        super(SaveModelWeights, self).__init__()
        self.save_interval = save_interval
        self.filepath = filepath

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.save_interval == 0:
            self.model.save_weights(self.filepath, overwrite=True)
            print(f"Model weights saved at epoch {epoch + 1}.")

# Define the model - no second hidden layer
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 72
hidden_nodes_layer2 = 22

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Number of epochs for training
num_epochs = 50

# Create an instance of the custom callback
save_callback = SaveModelWeights(save_interval=5, filepath='model_weights.h5')

# Train the model using the callback
nn.fit(X_train, y_train, epochs=num_epochs, callbacks=[save_callback])

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 81997.2812 - accuracy: 0.4957
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 63929.3320 - accuracy: 0.5057
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 31281.5430 - accuracy: 0.5049
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 72310.8516 - accuracy: 0.4907
Epoch 5/50
803/804 [============================>.] - ETA: 0s - loss: 53159.5430 - accuracy: 0.5083Model weights saved at epoch 5.
804/804 [==============================] - 2s 2ms/step - loss: 53339.1172 - accuracy: 0.5084
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 39549.9648 - accuracy: 0.5003
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 23581.8730 - accuracy: 0.5237
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 15552.9756 - accuracy: 0.5079
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 26093.8770 - accuracy: 0.5092
Epoch 10/50
803/804 [============================>.] - ETA: 0s - loss: 24558.4648 - accuracy: 0.5238Model weights saved at epoch 10.
804/804 [==============================] - 2s 2ms/step - loss: 24532.4043 - accuracy: 0.5236
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 20318.4668 - accuracy: 0.5467
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 7618.8628 - accuracy: 0.5197
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 12113.1025 - accuracy: 0.5325
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 9708.1240 - accuracy: 0.4974
Epoch 15/50
802/804 [============================>.] - ETA: 0s - loss: 6201.5205 - accuracy: 0.5313Model weights saved at epoch 15.
804/804 [==============================] - 2s 2ms/step - loss: 6187.1646 - accuracy: 0.5313
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 15006.7656 - accuracy: 0.5512
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 5038.5527 - accuracy: 0.5373
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 3269.8433 - accuracy: 0.4945
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 2577.1636 - accuracy: 0.5108
Epoch 20/50
801/804 [============================>.] - ETA: 0s - loss: 3884.2749 - accuracy: 0.5140Model weights saved at epoch 20.
804/804 [==============================] - 2s 2ms/step - loss: 3878.9883 - accuracy: 0.5138
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 1797.4001 - accuracy: 0.5474
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 4279.5146 - accuracy: 0.5364
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 949.5931 - accuracy: 0.5391
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 3012.5952 - accuracy: 0.5196
Epoch 25/50
789/804 [============================>.] - ETA: 0s - loss: 4447.5454 - accuracy: 0.5210Model weights saved at epoch 25.
804/804 [==============================] - 2s 2ms/step - loss: 4479.5874 - accuracy: 0.5207
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 2126.0945 - accuracy: 0.5136
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 501.0319 - accuracy: 0.5212
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 581.1247 - accuracy: 0.5209
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 3.6845 - accuracy: 0.5289
Epoch 30/50
792/804 [============================>.] - ETA: 0s - loss: 0.6861 - accuracy: 0.5418Model weights saved at epoch 30.
804/804 [==============================] - 2s 2ms/step - loss: 0.6858 - accuracy: 0.5433
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6517 - accuracy: 0.6532
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6405 - accuracy: 0.6462
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6287 - accuracy: 0.6636
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6231 - accuracy: 0.6716
Epoch 35/50
796/804 [============================>.] - ETA: 0s - loss: 0.6261 - accuracy: 0.6664Model weights saved at epoch 35.
804/804 [==============================] - 2s 2ms/step - loss: 0.6257 - accuracy: 0.6670
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6832 - accuracy: 0.6389
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5289
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5321
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5321
Epoch 40/50
795/804 [============================>.] - ETA: 0s - loss: 0.6903 - accuracy: 0.5320Model weights saved at epoch 40.
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5321
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6769 - accuracy: 0.5470
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6324 - accuracy: 0.6502
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7483 - accuracy: 0.5271
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 45/50
796/804 [============================>.] - ETA: 0s - loss: 0.6911 - accuracy: 0.5326Model weights saved at epoch 45.
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 50/50
799/804 [============================>.] - ETA: 0s - loss: 0.6910 - accuracy: 0.5323Model weights saved at epoch 50.
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321

In [170]:
# Check the structure of the model
nn.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_48 (Dense)            (None, 72)                3024

 dense_49 (Dense)            (None, 22)                1606

 dense_50 (Dense)            (None, 1)                 23

=================================================================
Total params: 4,653
Trainable params: 4,653
Non-trainable params: 0
_________________________________________________________________

In [171]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.7295 - accuracy: 0.6327 - 454ms/epoch - 2ms/step
Loss: 1.7294601202011108, Accuracy: 0.6326530575752258

In [172]:
nn.save("Alphabet_Soup_Charity_5.h5")
print("Evaluation results saved to AlphabetSoupCharity5.h5")

Evaluation results saved to AlphabetSoupCharity5.h5